<header>请登录</header>
<form id="loginModule" class="login-module">
  <div class="form-module form-js-module" id="username">
    <div class="form-row">
    <span>用户名:</span>
    <input type="text" placeholder="请输入4~20位数字或字母组成的用户名" />
    </div>
    <p class="info"></p>
  </div>
  <div class="form-module form-js-module" id="password">
    <div class="form-row">
    <span>密&nbsp;&nbsp;码:</span>
    <input type="password" placeholder="请输入密码" />
    </div>
    <p class="info"></p>
  </div>
  <button type="submit" class="btn form-btn">登录</button>
</form>