<header>请登录</header>
<form id="loginModule" class="login-module">
  <div class="form-module form-js-module" id="username">
    <div class="form-row">
    <span>用户名:</span>
    <input type="text" placeholder="请输入4~20位数字或字母组成的用户名" />
    </div>
    <p class="info"></p>
  </div>
  <div class="form-module form-js-module" id="password">
    <div class="form-row">
    <span>密&nbsp;&nbsp;码:</span>
    <input type="password" placeholder="请输入密码" />
    </div>
    <p class="info"></p>
  </div>
  <div class="form-module form-js-module" id="rememberPassword">
    <div class="form-row">
      <span>&nbsp;&nbsp;</span>
      <label><input type="checkbox" name="remp" value="remember" />记住密码</label>
    </div>
    <p class="info"></p>
  </div>
  <a href="/users/register" class="btn form-btn minor mr10">注册</a><button type="submit" class="btn form-btn">登录</button>
</form>