<header>聊天室</header>
<div class="message-panel">
    <div class="message-function" id="messageFunction">
        <div class="message-header">
            <h2></h2>
        </div>
        <div class="message-box" id="messageBox"></div>
        <textarea id="userInput" cols="30" rows="3"></textarea>
        <div class="btn-box">
            <a href="javascript:;" class="btn clear" id="clearBtn">清空</a><a href="javascript:;" class="btn send" id="sendBtn">发送</a>
        </div>
    </div>
    <div class="message-friends">
        <div class="user-box" id="userBox" data-user="<%=userID%>">
            <h2><%=username%></h2>
        </div>
        <ul class="friend-box" id="friendBox">
        </ul>
    </div>
</div>