<header>请注册</header>
<form id="registerModule" class="login-module">
  <div class="form-module form-js-module" id="username">
    <div class="form-row">
    <span>用户名:</span>
    <input type="text" placeholder="请输入4~20位数字或字母组成的用户名" />
    </div>
    <p class="info"></p>
  </div>
  <div class="form-module form-js-module" id="password">
    <div class="form-row">
      <span>密&nbsp;&nbsp;码:</span>
      <input type="password" placeholder="请输入6~20位数字或字母组成的密码" />
    </div>
    <p class="info"></p>
  </div>
  <div class="form-module form-js-module" id="password1">
    <div class="form-row">
      <span>确认密码:</span>
      <input type="password" placeholder="请再次输入密码以确认" />
    </div>
    <p class="info"></p>
  </div>
  <div class="form-module form-js-module" id="class">
    <div class="form-row">
      <span>班级:</span>
      <input type="text" placeholder="您当前所带班级" />
    </div>
    <p class="info"></p>
  </div>
  <button type="submit" class="btn form-btn">注册</button>
</form>