<header>请注册</header>
<form id="registerModule" class="login-module">
  <div class="form-module form-js-module" id="type">
    <div class="form-row">
    <label>
      <input type="radio" name="type" value="1" checked />学生
    </label><label>
      <input type="radio" name="type" value="0" />讲师
    </label>
    </div>
    <p class="info"></p>
  </div>
  <div class="form-module form-js-module" id="username">
    <div class="form-row">
    <span>用户名:</span>
    <input type="text" placeholder="请输入4~20位数字或字母组成的用户名" />
    </div>
    <p class="info"></p>
  </div>
  <div class="form-module form-js-module" id="password">
    <div class="form-row">
      <span>密&nbsp;&nbsp;码:</span>
      <input type="password" placeholder="请输入6~20位数字或字母组成的密码" />
    </div>
    <p class="info"></p>
  </div>
  <div class="form-module form-js-module" id="password1">
    <div class="form-row">
      <span>确认密码:</span>
      <input type="password" placeholder="请再次输入密码以确认" />
    </div>
    <p class="info"></p>
  </div>
  <div class="form-module form-js-module" id="class" style="display:none;">
    <div class="form-row">
      <span>班级:</span>
      <input type="text" placeholder="请输入您的所属班级" />
    </div>
    <p class="info"></p>
  </div>
  <div class="form-module form-js-module" id="stuClass">
    <div class="form-row">
      <span>班级:</span>
      <select name="stuClass"></select>
    </div>
    <p class="info"></p>
  </div>
  <div class="form-module form-js-module" id="vCode" style="display:none;">
    <div class="form-row">
      <span>邀请码:</span>
      <input type="text" placeholder="请输入您的讲师注册邀请码" />
    </div>
    <p class="info"></p>
  </div>
  <a href="/users/login" class="btn form-btn minor mr10">登录</a><button type="submit" class="btn form-btn">注册</button>
</form>