<header>超级课堂--<%= userObj.username%></header>
<div class="message-panel teacher">
    <div class="class-info">
        <h3><%= userObj.class%></h3>
        <p>答题数:<span></span></p>
        <p>正确率:<span id="inlineNum">0</span></p>
        <p>全场排名:<span id="mvp">XXX</span></p>
    </div>
    <div class="student-list">
        
    </div>
</div>