<header>超级课堂--<%= userObj.username%></header>
<div class="message-panel teacher">
    <div class="class-info">
        <h3><%= userObj.class%></h3>
        <p>答题数:<span></span></p>
        <p>正确率:<span id="inlineNum">0</span></p>
        <p>全场排名:<span id="mvp">XXX</span></p>
    </div>
    <div class="student-list">
        
    </div>
</div>
<div class="topic-box" style="display:none;">
    <div class="topic-panel">
        <h2 class="topic-header clr">回答提问 <a href="javascript:;" class="frt close-btn">x</a></h2>
        <form id="topic">
            <div class="topic-title">
                <h4>问题: <span></span></h4>
            </div>
            <div class="topic-content">
                <h4>内容:</h4>
                <p>test</br>test</br>test</br>test</br>test</br>test</br>test</br>test</br>test</br>test</br>test</br>test</br>test</br>test</br>test</br>test</br>test</br>test</br>test</br>test</br>test</br>test</br>test</br>test</br>test</br>test</br>test</br>test</br>test</br>test</br>test</br>test</br>test</br>test</br>test</br></p>
                <textarea name="topicContent" placeholder="请输入内容" id="" cols="130" rows="5"></textarea>
            </div>
            <div class="topic-footer clr">
                <button type="submit" class="frt">回答提问</button>
            </div>
        </form>
    </div>
</div>