<header>超级课堂--<%= userObj.username%></header>
<div class="message-panel">
    <h2>学员列表</h2>
    <br />
    <ul>
        <% stuList.map(function(item){%>
            <li><%= item.username %></li>
        <%}) %>
    </ul>
</div>