
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
header{
  margin : 20px auto;
  width: 900px;
  height: 50px;
  font:18px/50px microsoft yahei;
  color: #666;
  background: #ffe0b5;
  text-align: center;
}
.login-module{
  width: 500px;
  margin:15px auto;
  padding: 25px;
  box-sizing: border-box;
  border:1px dashed #ccc;
  text-align: right;
}
.login-module .form-module{
  padding:10px 0;
}
.login-module .form-row{
  display: flex;
}

.login-module .form-row span{
  display: block;
  text-align: right;
  line-height: 45px;
  padding-right: 20px;
  width: 110px;
}
.login-module .form-row input[type=text],
.login-module .form-row select,
.login-module .form-row input[type=email],
.login-module .form-row input[type=password]{
  display: block;
  flex: 6;
  line-height: 45px;
  padding:0 15px;
  border-radius: 5px;
  border:1px solid #ccc;
}

.login-module .form-row select:focus{
  outline: none;
}
.login-module .form-row label{
  line-height: 20px;
  cursor: pointer;
  user-select: none;
}
.login-module .form-row label input{
  line-height: 20px;
}
.login-module .form-btn{
  height: 35px;
  width: 110px;
  display: inline-block;
  border:0 none;
  background:#04b7f1;
  color: #fff;
  line-height: 35px;
  cursor: pointer;
  margin-top: 10px;
  padding:0;
  text-align: center;
}
.login-module .form-btn.minor{
  background: #ccc;
}
.login-module .form-module .info:empty{
  margin-bottom: 0;
}
.login-module .form-module .info{
  line-height: 36px;
  text-align: left;
  padding-left: 130px;
  margin-bottom: -10px;
}
.login-module .form-module.suc .info{
  color: #35cc61;
}
.login-module .form-module.suc input{
  border-color: #35cc61;
}
.login-module .form-module.err input{
  border-color: #c33232;
}
.login-module .form-module.err .info{
  color: #c33232;
}
.message-panel{
  width: 800px;
  margin: 20px auto;
  display: flex;
}
.message-panel.teacher{
  width: 1200px;
}
.message-panel .message-function{
  background: rgba(4,102,204,0.5);
  box-shadow: 1px 1px 3px rgba(0,0,0,0.75);
  border-radius: 5px;
  width: 500px;
  padding:15px;
  margin-right: 15px;
}

.message-panel .message-function textarea{
  width: 100%;
  resize: none;
  font:18px/30px microsoft YaHei;
  color: #666;
  padding:5px 15px;
  box-sizing: border-box;
  border:0 none;
  border-radius: 5px;
  box-shadow: inset 1px 1px 4px rgba(0,0,0,0.5);
}

.message-panel .message-function textarea:focus{
  outline: none;
}
.message-panel .btn-box{
  margin-top:15px;
  text-align: right
}
.message-panel .btn-box a{
  display: inline-block;
  width: 80px;
  height: 36px;
  font: 14px/36px microsoft yahei;
  color: #fff;
  text-align: center;
  text-decoration: none;
  margin-left: 15px;
  border-radius: 5px;
}
.message-panel .btn-box a.clear{
  background: rgba(255,255,255,0.3);
}
.message-panel .btn-box a.send{
  background: rgba(0,0,0,0.45);
}
.message-header{
  height: 30px;
  margin-bottom:8px;
}
.message-header h2{
  font:16px/30px microsoft yahei;
  color: #fff;
  padding-left: 8px;
}

.message-panel .message-friends{
  background: rgba(4,102,204,0.5);
  box-shadow: 1px 1px 3px rgba(0,0,0,0.75);
  padding:15px;
  border-radius: 5px;
  flex: 1;
}
.message-panel .message-friends .user-box{
  width: 100%;
  padding:20px 0;
  border:3px dashed #fff;
  border-radius: 5px;
}
.message-panel .message-friends .user-box h2{
  text-align: center;
  color: #fbfa02;
}

.message-panel .message-friends .friend-box{
  margin-top: 15px;
  background: rgba(255,255,255,0.4);
  height: 422px;
  border-radius: 5px;  
  overflow-y: auto;
  overflow-x: hidden;
}
.message-panel .message-friends .friend-box li{
  height: 40px;
  border-bottom:1px solid rgba(0,0,0,0.2); 
  border-top:1px solid rgba(255,255,255,0.7); 
  padding:0 15px;
  transition: all 0.35s;
}
.message-panel .message-friends .friend-box li:hover{
  background: rgba(0,200,255,0.4);
}
.message-panel .message-friends .friend-box li a{
  display: block;
  font: 16px/40px microsoft yahei;
  color: #fff;
  text-shadow: 1px 0px 2px rgba(0,0,0,0.2);
}
.message-panel .message-friends .friend-box li.active a{
  animation: active 1s infinite;
}
.message-panel .message-friends .friend-box li:first-of-type{
  border-top: 0 none;
}
.message-panel .message-friends .friend-box li:last-of-type{
  position: relative;
}
.message-panel .message-friends .friend-box li:last-of-type:after{
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  border-top:1px solid rgba(255,255,255,0.7);   
  z-index: 2;
}

@keyframes active{
  0%{
    color: #fff;
  }
  50%{
    color: #fff;
  }
  51%{
    color: #fbfa02;
  }
  100%{
    color: #fbfa02;
  }
}

.class-info{
  width: 200px;
  background: #a2b5ec;
}

.class-info h3{
  text-align: center;
  line-height: 45px;
  border-bottom: 1px solid #fff;
  color: #fff;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.2);
  margin-bottom:15px; 
}

.class-info p{
  padding:0 15px;
  line-height: 35px;
  color: #fff;
}

.class-info .btn{
  display: block;
  /*border:1px solid #fff;*/
  text-align: center;
  line-height: 35px;
  font : 14px/35px microsoft yahei;
  margin:10px 15px;
  background: rgba(255,255,255,0.4);
  color: #fff;
}
.class-info .btn:hover{
  background: rgba(255,255,255,0.6);
}

.student-list{
  flex: 1;
  border:1px solid #ccc;
  margin-left: 10px;
}
.student-list ul{
  display: block;
  margin: 0;
  padding:10px;
}
.student-list ul::after{
  content: "";
  display: block;
  clear: both;
}
.student-list ul li{
  display: block;
  float: left;
  width: 12.5%;
  height: 64px;
  background: #f3f3f3;
  box-sizing: border-box;
  padding:10px;
  border:1px solid #fff;
}
.student-list ul li h3{
  font: 100 14px/16px micrisoft YaHei;
  vertical-align: bottom;
  color: #999;
  border-left : 5px solid #ccc;
  padding-left: 7px;
}
.student-list ul li.inline{
  background: #85dcd9;
}

.student-list ul li.inline h3{
  color: #fff;
  border-left : 5px solid #fff;
}
.student-list ul li.answer .message-box{
  border:1px solid #fff;
  margin:7px auto 0 auto;
  color: #fff;
  border-radius: 5px;
  font-size: 12px;
  padding:2px 10px;
  width: 60%; 
  text-align: center;
}
.student-list ul li.answer .message-box::after{
  content: "已答题";
}
.student-list ul li .reply-box{
  display: none;
  border:1px solid #fff;
  margin:7px auto 0 auto;
  color: #fff;
  border-radius: 5px;
  font-size: 12px;
  padding:2px 10px;
  width: 60%; 
  text-align: center;
  overflow: hidden;
}
.student-list ul li.reply .reply-box{
  display: block;
}
.student-list ul li.reply .reply-box:empty{
  display: none;
}
.student-list .show-btn{
  display: block;
  border: 0 none;
  background: #04b7f1;
  text-align: center;
  height: 35px;
  line-height: 35px;
  color: #fff;
  width: 110px;
  cursor: pointer;
  float: right;
  margin: 10px;
}
.student-list .show-btn:hover{
  background: #04d4f1;
}
.topic-box{
  position: fixed;
  z-index: 99;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(0,0,0,0.45);
}

.topic-box .topic-panel{
  position: fixed;
  z-index: 100;
  width: 80%;
  max-height: 80%;
  padding-bottom: 15px;
  overflow-y: auto;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  background: #fff;
}
.topic-box .topic-panel .topic-header{
  height: 40px;
  background: #a2b5ec;
  font:100 16px/40px microsoft yahei;
  color: #fff;
  padding-left: 15px;
}
.topic-box .topic-panel .topic-header .close-btn{
  display: block;
  height: 40px;
  width: 40px;
  text-align: center;
  color: #fff;
}
.topic-box .topic-panel .topic-header .close-btn:hover{
  background: rgba(0,0,0,0.2);
}
.topic-box .topic-panel form{
  display: block;
  padding:0 20px;
}

.topic-box .topic-panel .topic-title,
.topic-box .topic-panel .topic-content,
.topic-box .topic-panel .topic-footer{
  padding-top:20px;
}
.topic-box .topic-panel .topic-title{
  display: flex;
}
.topic-box .topic-panel .topic-title input{
  height: 45px;
  display: block;
  box-sizing: border-box;
  font: 16px/45px microsoft yahei;
  color: #666;
  padding : 0 15px;
  border:1px solid #ccc;
  border-radius: 5px;
}
.topic-box .topic-panel .topic-title input.title{
  flex: 1
}
.topic-box .topic-panel .topic-title input.fraction{
  width: 200px;
  margin-left:15px; 
}

.topic-box .topic-panel .topic-content textarea{
  display: block;
  width: 100%;
  padding:7px 15px;
  line-height: 20px;
  border:1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  resize: none;
  color: #666;
}
.topic-box .topic-panel .topic-content textarea:focus{
  outline: none;
}
.topic-box .topic-panel .topic-content p{
  margin-bottom: 15px;
  width: 100%;
  max-height: 400px;
  overflow-y: auto;
}

.topic-box .topic-panel .topic-footer button{
  display: block;
  border: 0 none;
  background: #04b7f1;
  text-align: center;
  height: 35px;
  color: #fff;
  width: 110px;
  cursor: pointer;
  
}
.topic-box .topic-panel .topic-footer button:hover{
  background: #04d4f1;  
}
.topic-box .err{
  border : 1px solid #c33232 ! important;
}